body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: var(--admin-bg-color) var(--abg) fixed center center / cover;
}
.base{
    background: var(--admin-bg-color) var(--abg-blur-cover) fixed center center / cover;
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 96px 64px 64px 64px auto;
    box-shadow: 0 0 20px 12px #F0B478 inset;
    border-radius: 52px;
}
.base>div{
    /* border: 1px solid red; */
    font-size: 24px;
}
.base>.title{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    line-height: 96px;
    font-size: 36px;
}
.aocInfo,.aocData{
    display: flex;
    align-items: center;
}
.aocInfo{
    justify-content: flex-end;
    line-height: 36px;
    text-align: right;
    padding-right: 10px;
}
.aocData{
    justify-content: flex-start;
    padding-left: 10px;
}
.aocData>input{
    font-size: 24px;
    width: 70%;
    height: 24px;
    border: none;
    background: transparent;
    color: #F0B478;
    border-bottom: 1px solid #F0B478;
    outline: none;
}
.submit,.info{
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
.submit{
    align-items: flex-end;
}
.submit>button{
    font-size: 24px;
    padding: 0 4px 0 4px;
    margin: 0;
}
.info{
    align-items: center;
}